@model IEnumerable<Plant>
<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Plant Master Overview</h5>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Description</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var plant in Model)
                        {
                            <tr>
                                <td>@plant.CustomerName</td>
                                <td>@plant.CustomerDescription</td>
                                <td>
                                    <button style="border: none">
                                        <a href="#">Details</a>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>