<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Admin User Profile Update</h5>

            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           placeholder="Enter name"
                           required />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email"
                           class="form-control"
                           id="email"
                           placeholder="Enter email"
                           required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           placeholder="Enter password" />
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select class="form-select" id="role" required>
                        <option value="">Select role</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">
                    Update Profile
                </button>
            </form>
        </div>
    </div>
    <a href="#"
       class="text-center d-flex justify-content-center">
        <button style="border: none" class="mt-3 bg-secondary text-light p-2">
            Cancel
        </button>
    </a>
</div>