
<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Change Password</h5>

            <form>
                <div class="mb-3">
                    <label for="currentPassword" class="form-label">Current Password</label>
                    <input type="password"
                           class="form-control"
                           id="currentPassword"
                           placeholder="Enter current password"
                           required />
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password"
                           class="form-control"
                           id="newPassword"
                           placeholder="Enter new password"
                           required />
                </div>
                <div class="mb-3">
                    <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                    <input type="password"
                           class="form-control"
                           id="confirmNewPassword"
                           placeholder="Confirm new password"
                           required />
                </div>
                <button type="submit" class="btn btn-primary">
                    <a href="userManagement.html" class="text-light">
                        Change Password
                    </a>
                </button>
            </form>
        </div>
    </div>
    <a href="userManagement.html"
       class="text-center d-flex justify-content-center">
        <button style="border: none" class="mt-3 bg-secondary text-light p-2">
            Cancel
        </button>
    </a>
</div>