<div class="container mt-5">
    <i class="bi bi-x-lg"></i>
    <h1 class="mt-3">Account Locked</h1>
    <p class="lead">Your account has been locked due to multiple failed login attempts.</p>
    <p>Please contact support for assistance.</p>
</div>