@model RMS.Models.QuotationApproval
@{
    ViewData["Title"] = "Details";
}

<div class="col-12 mt-5">
    <div class="d-flex justify-content-between">
        <p class="bg-secondary p-3 text-light">Request No:  @Html.DisplayFor(model => model.RequestNo)</p>
        <p class="bg-secondary p-3 text-light">Quotation ID:@Html.DisplayFor(model => model.Quotation)</p>
        <p class="bg-secondary p-3 text-light">Date : 05/06/2024</p>
    </div>
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Quotation Details</h5>
            <div style="width: 100%; overflow-x: auto">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col ">Product Code</th>
                            <th scope="col ">Product Type</th>
                            <th scope="col ">UOM</th>
                            <th scope="col ">Quantity</th>
                            <th scope="col ">Rate</th>
                            <th scope="col ">Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="text-center">
                            <th scope="row" class="fw-normal">ABC123</th>
                            <td>Product A</td>
                            <td>EA</td>
                            <td>50.00</td>
                            <td>$14</td>
                            <td>$700</td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row" class="fw-normal">ABC123</th>
                            <td>Product B</td>
                            <td>EA</td>
                            <td>50.00</td>
                            <td>$14</td>
                            <td>$700</td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row" class="fw-normal">ABC123</th>
                            <td>Product C</td>
                            <td>EA</td>
                            <td>15.00</td>
                            <td>$20</td>
                            <td>$300</td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row" class="fw-normal">ABC123</th>
                            <td>Product D</td>
                            <td>EA</td>
                            <td>20.00</td>
                            <td>$25</td>
                            <td>$500</td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row" class="fw-normal">ABC123</th>
                            <td>Product E</td>
                            <td>EA</td>
                            <td>10.00</td>
                            <td>$10</td>
                            <td>$100</td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row" class="fw-normal">JKL123</th>
                            <td>Product F</td>
                            <td>EA</td>
                            <td>20.00</td>
                            <td>$25</td>
                            <td>$500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="text-end p-5">
            <p class="fw-bold">Total Quotation Amount : $2800</p>
        </div>
    </div>
    <div class="btn-container text-center">
        <a  ">
            <button class="accept-btn bg-success text-light" style="border:none; border-radius:5px">Accept</button>
        </a>
        <a  >
            <button class="reject-btn bg-danger text-light" style="border:none ; border-radius:5px">Reject</button>
        </a>
    </div>
</div>